<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A REST accesible webservice for finding Juju interfaces and layers">

    <title>Interface: Web Service</title>
    <link rel="stylesheet" href="{{static_url("pure-min.css")}}">
    <link rel="stylesheet" href="{{static_url("main.css")}}">
    </head>
    <body>


   <div class="splash-container">
        <div class="splash">
            {%block splash %} {% end %}
       </div>
    <div>
        {% if current_user %}
        Welcome {{current_user["fullname"]}}
        {% else %}
        <a href="/login/">Login with Launchpad</a>
        {% end %}
    </div>
 
    </div>

   </body>
</html>
