{% extends base.html %}

{% block title%}
Editing {{entity["id"]}}
{%end%}

{% block content %}
<pre id="editor_status"></pre>
<div id="editor_holder"></div>
<input id="editor_save" type="button" class="pure-button" value="submit"></input>
<script>
// Set default options
// Initialize the editor
var editor = new JSONEditor(document.getElementById("editor_holder"),{
schema: {%raw schema%},
no_additional_properties: true,
disable_collapse: true,
disable_edit_json: true,
disable_properties: true,
startval: {%raw dumps(entity.empty()) %}
});

var save = $("#editor_save");
var message = $("#editor_status");
save.on("click", function(e) {
    var errors = editor.validate();
    if (!errors.length) {
        var data = editor.getValue();
        $.ajax({
        type: "POST", 
        url: "/api/v1/{{kind}}/" + data.id + "/",
        data: JSON.stringify(data),
        processData: false,
        complete: function(xhr, status) {
        if (status === "error") {
            message.text(xhr.responseText);
        } else {
            message.text("Saved");
            window.location = "/{{kind}}/" + data.id + "/";
        }
        }
    })};
});


editor.setValue({%raw entity.bson()%});
</script>
{% end %}


