{% extends base.html %}

{% block title %}
        <p class="splash-subhead">
        See <a href="https://github.com/bcsaller/juju-interface/">juju_interfaces</a> for the full REST API
        </p>
{% end %}


{% block content %}
    <div class="content-wrapper">
        <h2 class="splash-head">Interface: {%if current_user%}<a href="/interface/+/">+</a>{%end%}</h2>
                {% module Overview(interfaces, "interface") %}

                <h2 class="splash-head">Layer: {%if current_user%}<a href="/layer/+/">+</a>{%end%}</h2>
        {% module Overview(layers, "layer") %}
    </div>
{% end %}
