{% extends base.html %}

{% block title %}
        <p class="splash-subhead">
        See <a href="https://github.com/bcsaller/juju-interface/">juju_interfaces</a> for the full REST API
        </p>
{% end %}


{% block content %}
<div class="content-wrapper">
    <div id="entity-box"/>
    </div>
    <script type="text/jsx;harmony=true">
        React.render(
            <EntityBox {%if current_user%}loggedIn={true}{%end%}/>,
            document.getElementById('entity-box')
        );
    </script>
</div>
{% end %}
